textarea {
    resize: none;
}
.main-container {
    text-align: start;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.task-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 40%!important;
    padding-right: 1rem;
}

.editor-content {
    height: 100%;
    width: 60%!important;
}

.task-description {
    height: 60%!important;
}
.task-tests {
    height: 34%!important;
}

.task-description > p, .output-data > p, .input-data > p {
    display: block;
    color: white;
    background: transparent;
    font-size: 14pt;
    padding: 0;
    margin: 0;
}
.task-description > code, .output-data > code, .input-data > code {
    display: block;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    font-size: 13pt;
    color: white;
}
.editor-page {
    height: 100vh;
    margin: 0;
    padding: 0;
}
.no-wrap {
    white-space: nowrap;
}