<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Дистанционный практикум</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link" th:href="@{~/}">На главную</a>
                <a class="nav-link" th:href="@{~/problem}">Все задачи</a>
                <a class="nav-link" th:href="@{~/status}">Статус</a>
                <div class="dropdown nav-link" th:if="${authorities != null && authorities.contains('ADMIN')}">
                    <a class="dropdown-toggle" role="button">Панель управления</a>
                    <ul class="dropdown-menu dropdown-menu-dark rounded-0">
                        <li><a class="dropdown-item" th:href="@{~/admin/task/create}">Загрузить задачу</a></li>
                        <li><a class="dropdown-item" th:href="@{~/admin/solutions}">Онлайн статус</a></li>
                    </ul>
                </div>
                <div class="dropdown nav-link" th:if="${username}">
                    <a class="dropdown-toggle" role="button">Профиль</a>
                    <ul class="dropdown-menu dropdown-menu-dark rounded-0">
                        <li><a class="dropdown-item" th:href="@{~/profile}">Инфо</a></li>
                        <li><a class="dropdown-item" th:href="@{~/logout}">Выход</a></li>
                    </ul>
                </div>
                <a class="nav-link" th:unless="${username}" th:href="@{~/auth}">Вход</a>
            </nav>
        </div>
    </header>
</th:block>

<th:block th:fragment="footer">
    <footer class="mt-auto text-white-50 text-center">
        <p>Дистанционный практикум,
            работу выполнил <a href="https://t.me/Legite" class="text-white">Шагинян Т.С.</a>
            научный руководитель <a href="https://vk.com/id532457794" class="text-white">Балса А.Р.</a>
            ГУМРФ ВКР 2022
        </p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</th:block>

